__pycache__/Background.cpython-310.pyc
__pycache__/Environment.cpython-310.pyc
__pycache__/Obstacle.cpython-310.pyc
__pycache__/PhysicsObject.cpython-310.pyc
__pycache__/Bird.cpython-310.pyc
__pycache__/Obstacles.cpython-310.pyc
__pycache__/Floor.cpython-310.pyc
